@import "../../app-constants";

.settings-widget {
  width: 150px;
  position: absolute;
  z-index: 1;
  
  color: black;
  background-color: $lm-green-weak;

  border: 1.5px solid black;
}

.settings-widget-container {
  font-weight: normal;
  height: 100%;
}

.close-settings-widget-button {
  font-size: medium !important;
  margin-top: 3px;
  margin-right: -3px;
}

.settings-widget-header {
  display: flex;
  justify-content: space-between;
  
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;

  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
}

.settings-option-row {
  display: flex;
  margin: 2px 2px 10px 4px;
}

.settings-row-check-box {
  font-size: medium;
}

.settings-row-label {
  padding-left: 5px;
  font-size: 12px;
}