# Project ignores
LocalEnv/
Scratch.txt

# Default .NET Core ignores
bin/
obj/
/packages/
/_ReSharper.Caches/
/node_modules/

# Rider ignores
riderModule.iml

# package-lock (keep this ignored while this is a solo project)
/package-lock.json
