@import '../../app-constants.scss';

.navigation-container {
    text-align: center;
}

.navigation-button {
    width: 200px;
    height: 200px;
}

.modal-container {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 12.5px;
    border: 2px solid $lm-green-strong;
}

.screen-container {
    margin: 25px;
}