@import '../../../app-constants.scss';

$column-divider-grey: #e0e0e0;

.table-container {
  width: 640px;
  position: relative;
}

th.table-header-cell {
  background-color: $lm-green-strong;
  color: white;
  font-weight: bold;
  height: 31.5px;

  /* Needs to be !important to override .MuiTableCell-root in react-table */
  padding: 4px 12px 2px !important;

  user-select: none;
}

th.table-header-cell-selected {
  background-color: $lm-green;
  color: black;
}

.table-cell {
  /* Needs to be !important to override .MuiTableCell-root in react-table */
  padding: 4px 12px 0 !important;
}

tr.row-highlight-on-hover {
  transition: 0.3s;

  &:hover {
    background-color: $lm-green;
  }
}

.row-alternating-colors:nth-of-type(odd) {
  background-color: $lm-green-off-white;
}

.row-alternating-colors:nth-of-type(even) {
  background-color: white;
}

.column-with-dividers {
  border-left: 1px solid $column-divider-grey;
  border-right: 1px solid $column-divider-grey;
}

.status-settings-widget-button {
  color: gray;
  position: relative;
  top: -2px;
  left: -9px;
  
  transition: 10s;

  &:hover {
    color: white;
  }
}