@import '../../../app-constants.scss';

.editing-item-modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2.page-header {
  margin-top: -10px;
  margin-bottom: -25px;
  margin-left: 6px;
}

div.modal-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 25px;
}

div.modal-buttons-container {
  display: flex;
  justify-content: space-around;
  width: inherit;
}

button.modal-button {
  width: 100px;
}

.remove-item {
  float: right;
  margin-top: -10px;
  margin-right: 20px;
  
  &:hover {
    color: $lm_red;
  }
}