@import '../../app-constants';

.rectangle-on {
  background: $lm-green-strong;
}

.rectangle-off {
  background: $lm-green-weak;
}

.size-text {
  text-shadow: 0.25px 0 0.25px black, 0 0 0.2em black;
  color: white;
}