@import '../../../app-constants.scss';

$column-divider-grey: #e0e0e0;

.table-container {
  width: 640px;
  position: relative;
}

thead.table-header {
  background-color: $lm-green-strong;
}

th.table-header-cell {
  color: white;
  font-weight: bold;
  
  /* Needs to be !important to override .MuiTableCell-root in react-table */
  padding: 4px 12px 2px !important;
}

.table-cell {
  /* Needs to be !important to override .MuiTableCell-root in react-table */
  padding: 4px 12px 0 !important;
}

tr.row-highlight-on-hover {
  &:hover {
    background-color: $lm-green;
  }
}

.row-alternating-colors:nth-of-type(odd) {
  background-color: $lm-green-off-white;
}

.row-alternating-colors:nth-of-type(even) {
  background-color: white;
}

.column-with-dividers {
  border-left: 1px solid $column-divider-grey;
  border-right: 1px solid $column-divider-grey;
}
