h2.page-header {
  margin-top: -10px;
  margin-bottom: -25px;
  margin-left: 6px;
}

div.modal-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 25px;
}

div.modal-buttons-container {
  bottom: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: inherit;
}

button.modal-button {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}