@import '../app-constants.scss';

$navigation-square-button-dimension: 140px;

.navigation-container {
    text-align: center;
}

.navigation-button {
    width: $navigation-square-button-dimension;
    height: $navigation-square-button-dimension;
}

.modal-container {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 12.5px;
    border: 2px solid $lm-green-strong;
}

.screen-container {
    margin: 25px;
}