$navigation-square-button-dimension: 140px;

.navigation-container {
    text-align: center;
}

.navigation-button {
    width: $navigation-square-button-dimension;
    height: $navigation-square-button-dimension;
}

.screen-container {
    width: 640px;
    margin: 15px auto 15px;
}