@import './../../app-constants';

$size-picker-edge-dimension: 45px;
$inter-button-distance: 2.25px;
$font-size: 16x;

div.size-picker-container {
  display: flex;
  flex-direction: row;
  width: 7 * $size-picker-edge-dimension;
  height: $size-picker-edge-dimension;
}

div.size-picker-button {
  position: relative;
  background-color: white;
  width: $size-picker-edge-dimension - $inter-button-distance;
  height: $size-picker-edge-dimension - $inter-button-distance;
  margin: $inter-button-distance / 2;

  border-radius: 10px;
  border: 2px solid $lm-green-strong;
  
  transition: 0.3s;

  &.active {
    color: white;
    background-color: $lm-green-strong;
  }
  
  &:hover {
    color: white;
    background-color: $lm-green;
    border-color: $lm-green;
  }
}

p.button-text {
  font-size: $font-size;
  
  margin: 0;
  position: absolute;
  
  /* Vertical centering */
  top: 47.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* Horizontal centering */
  left: 50%;
}