@import './app-constants';

.lm-button {
  color: white;
  
  &:hover {
    /* Overrides Bootstrap's 'btn' */
    color: white;
  }
  
  &.positive {
    background-color: $lm-green-strong;
    border-color: $lm-green;

    &:hover {
      background-color: $lm-green;
    }
  }
  
  &.negative {
    background-color: $lm-red;
    border-color: $lm-red-weak;

    &:hover {
      background-color: $lm-red-weak;
    }
  }
}