@import './app-constants';

.lm-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.lm-button {
  color: white;
  
  &:hover {
    /* Overrides Bootstrap's 'btn' */
    color: white;
  }
  
  &.positive {
    background-color: $lm-green-strong;
    border-color: $lm-green;

    &:hover {
      background-color: $lm-green;
    }
  }
  
  &.negative {
    background-color: $lm-red;
    border-color: $lm-red-weak;

    &:hover {
      background-color: $lm-red-weak;
    }
  }
}